<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>collge-home </title>



<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../css/mine.css">


</head>
<body class="bg-cover">
    <!--  navabr start -->
    
    <nav class="navbar navbar-expand-lg  m-0 p-0">
        <div class="container-fluid ">

          <a class="navbar-brand logo-navbar text-start" href="#"><img class="" src="../images/logo.png" alt=""></a>
         
          <button class="navbar-toggler color-texts" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
          </button>
          <div class="collapse navbar-collapse m-1 color-texts" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto  p-1 mb-2 mb-lg-0">
              
                <li><a class="m-1 p-1" href="#"><button class="btn btn-outline-light " id="my-button" type="submit">
                  
                  <h5 class="">Login</h5></button></a></li> 
                <br>
                <li><a class=" m-1 p-1" href="#"><button class="btn btn-outline-light" type="submit"><h5 class="">Sign up</h5></button></a></li>
             
            


              <li class="nav-item me-3 ">
                <a class="nav-link active fs-5 " aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item me-3 ">
                <a class="nav-link active fs-5 " aria-current="page" href="#about">about</a>
              </li>
              <!-- <li class="nav-item me-3 dropdown fs-5 "> -->
                <li class="nav-item dropdown fs-5">
                  <a class="nav-link dropdown-toggle" href="#course" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    course
                  </a>
                  <ul class="dropdown-menu bg-dark  ">
                    <li><a class="dropdown-item  " href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>
              </li>
              <li class="nav-item me-3">
                <a class="nav-link active fs-5 " aria-current="page" href="#blog">blog</a>
              </li>
              <li class="nav-item me-3 ">
                <a class="nav-link active fs-5 " aria-current="page" href="#contact">contact</a>
              </li>
            </ul>
           
          </div>
        </div>
      </nav>
      <!-- nav end  -->
      <!--  login s -->
      <div class="container mt-5 active " id="login">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <div class="card px-5 py-5" id="form1">
                    <div class="form-data" v-if="!submitted">
                        <div class="forms-inputs mb-4"> <span>Email or username</span> <input autocomplete="off" type="text" v-model="email"  v-on:blur="emailBlured = true">
                            <div class="invalid-feedback">A valid email is required!</div>
                        </div>
                        <div class="forms-inputs mb-4"> <span>Password</span> <input autocomplete="off" type="password" v-model="password" v-on:blur="passwordBlured = true">
                            <div class="invalid-feedback">Password must be 8 character!</div>
                        </div>
                        <div class="mb-3"><button v-on:click.stop.prevent="submit" class="btn btn-dark w-100">Login</button> </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>



      <!-- login end -->

      <!-- course start -->
      <div id="carouselExampleIndicators" class="carousel slide d-flex m-3" data-bs-ride="carousel">
          <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" ></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div> <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <div class="container d-flex align-items-center carousel-inner">

<div class="justify-content-center text-center carousel-item active" data-bs-interval="5000">
            <a href="#" class=" text-decoration-none text-white">
             <p  class="text-decoration-none text-white fs-3"> Welcome to college TH</p>
              <img src="../images/logo.png" class="img-size img-fluid" alt="" >
            </a>
          </div>


          <div class="justify-content-center text-center carousel-item " data-bs-interval="5000">
            <a href="#" class=" text-decoration-none text-white ">
              <p class="fs-3 "> You can develop your skills here</p>
              <img src="../images/pic1.jpg" class="img-size img-fluid" alt="">
              
            </a>
          </div>
          <div class="justify-content-center text-center carousel-item " data-bs-interval="5000">
            <a href="#" class=" text-decoration-none text-white ">
              <p class=" fs-3"> Access to all resources</p>
              <img src="../images/pic2.jpg" class="img-size img-fluid" alt="">
            </a>
          </div>
          <div class="justify-content-center text-center carousel-item " data-bs-interval="5000">
            <a href="#" class=" text-decoration-none text-white">
              <p class=" fs-3">Creating a great job market for you</p>
              <img src="../images/pic3.webp" class="img-size img-fluid" alt="">
            </a>
          </div>
        </div>
        
          
        </div>
        <!-- cou end -->
       <!--  about start  -->
      <div class=" container d-flex bg-light align-items-center justify-content-evenly rounded-5 mt-5 w-95 "
      id="about"> 
        <div class=" d-flex flex-column "> 
          <h2 class="text-dark align-self-start text-capitalize text-uppercase ">about us</h2>
          
          <p class="fs-5 text-dark text-capitalize">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo minus modi nisi earum sed id officia fugiat sint eos quos repudiandae molestiae
             vero impedit consequuntur repellendus illo, veniam suscipit
              praesentium?</p>
              <a class="align-self-end p-4 m-4 " href="#"><button class="btn btn-outline-dark" type="submit"><h6 class="">read more</h6></button></a>

        </div>
        <div class="d-flex flex-column ">
          <img src="/images/logo.png " class="img-size-about img-fluid w-100 rounded-4" alt="">
        </div>
      </div>

      <!-- about end  -->
      <!--  course s -->
       <section class="container" id="course">
            <div class="m-3 p-3 align-content-center">
               <h2 class="text-uppercase text-white text-center">explore course </h2>
            <p class="fs-2 text-white text text-center">learn more </p></div>
<div class="d-lg-flex d-md-flex d-sm-grid ">
            <div class=" container  w-100 d-inline-block
            ">
              <div class="card bg-dark text-white mx-7 my-3 align-self-sm-center" style="width: 18rem;">
                <h3 class=" text-center text-uppercase">js</h3>
                <img src="../images/pic2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            <div class="card bg-dark text-white mx-7 my-3" style="width: 18rem;">
              <h3 class=" text-center text-uppercase">js</h3>
              <img src="../images/pic2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
            <div class="card bg-dark text-white mx-7 my-3" style="width: 18rem;">
              <h3 class=" text-center text-uppercase">js</h3>
              <img src="../images/pic2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
            <div class="card bg-dark text-white mx-7 my-3" style="width: 18rem;">
              <h3 class=" text-center text-uppercase">js</h3>
              <img src="../images/pic2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
            <div class="card bg-dark text-white mx-7 my-3" style="width: 18rem;">
              <h3 class=" text-center text-uppercase">js</h3>
              <img src="../images/pic2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          
          <div class=" container  w-100 d-inline-block
          ">
            <div class="card bg-dark text-white mx-7 my-3 align-self-sm-center" style="width: 18rem;">
              <h3 class=" text-center text-uppercase">js</h3>
              <img src="../images/pic2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          <div class="card bg-dark text-white mx-7 my-3" style="width: 18rem;">
            <h3 class=" text-center text-uppercase">js</h3>
            <img src="../images/pic2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card bg-dark text-white mx-7 my-3" style="width: 18rem;">
            <h3 class=" text-center text-uppercase">js</h3>
            <img src="../images/pic2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card bg-dark text-white mx-7 my-3" style="width: 18rem;">
            <h3 class=" text-center text-uppercase">js</h3>
            <img src="../images/pic2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card bg-dark text-white mx-7 my-3" style="width: 18rem;">
            <h3 class=" text-center text-uppercase">js</h3>
            <img src="../images/pic2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      </div>
       </section>

       <!-- course end -->
<!--  blog -->
<div class=" container d-flex bg-light align-items-center justify-content-evenly rounded-5 mt-5 w-95 "
id="blog"> 
  <div class=" d-flex flex-column "> 
    <h2 class="text-dark align-self-start text-capitalize text-uppercase ">blog</h2>
    
    <p class="fs-5 text-dark text-capitalize">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo minus modi nisi earum sed id officia fugiat sint eos quos repudiandae molestiae
       vero impedit consequuntur repellendus illo, veniam suscipit
        praesentium?</p>
        <a class="align-self-end p-4 m-4 " href="#"><button class="btn btn-outline-dark" type="submit"><h6 class="">read more</h6></button></a>

  </div>
  <div class="d-flex flex-column ">
    <img src="../images/logo.png " class="img-size-about img-fluid w-100 rounded-4" alt="">
  </div>
</div>
<!-- contanct -->
<div class="bg-dark w-100 mt-5" id="contact">
  <div class="align-self-center" > <h2 class="text-white  text-uppercase text-center">contact</h2></div>
  <div class=" container justify-content-between d-flex">
  
<div class="text-white d-grid text-decoration-none" >
  <a  class =" text-decoration-none text-white"><h5>Registration guide</h5></a>
     <a href="" class="  text-decoration-none text-white"> <span>ccc</span></a>
     <a href="" class="  text-decoration-none text-white"> <span>ccc</span></a>
     <a href="" class="  text-decoration-none text-white"> <span>ccc</span></a>
     <a href="" class="  text-decoration-none text-white"> <span>ccc</span></a>
</div>
<div class="text-white d-grid text-decoration-none" >
  <a  class =" text-decoration-none text-white"><h5>Registration guide</h5></a>
     <a href="" class="  text-decoration-none text-white"> <span>ccc</span></a>
     <a href="" class="  text-decoration-none text-white"> <span>ccc</span></a>
     <a href="" class="  text-decoration-none text-white"> <span>ccc</span></a>
     <a href="" class="  text-decoration-none text-white"> <span>ccc</span></a>
</div>

<div class="text-white d-grid text-decoration-none" >
  <a  class =" text-decoration-none text-white"><h5>Registration guide</h5></a>
     <a href="" class="  text-decoration-none text-white"> <span>ccc</span></a>
     <a href="" class="  text-decoration-none text-white"> <span>ccc</span></a>
     <a href="" class="  text-decoration-none text-white"> <span>ccc</span></a>
     <a href="" class="  text-decoration-none text-white"> <span>ccc</span></a>
</div>


</div>
</div>







<!--  links  -->


      <script src="https://kit.fontawesome.com/a052ba504f.js" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>